<div>
    <span class="pageTitle"><i class="fa fa-exclamation-circle"></i>出库单结算</span>
    <div class="row  divline">
        <div class="col-md-12">
            <p class="pTitle">基础信息</p>
        </div>
        <div class=" form-horizontal ">
            <div class="form-group">
                <input  type="hidden" value="{{settleOutbound.objData.customerId}}" name="customerId" >
                <input  type="hidden" value="{{settleOutbound.objData.arrivalBankId}}" name="arrivalBankId" >
                <input  type="hidden" value="{{settleOutbound.objData.orderAmount}}" name="orderAmount" >
                <label class="col-md-2 control-label">转入账户名
                </label>
                <div class="col-md-2 col-left2">
                    <input type="text"  class="form-control" name="accountName"
                           value="{{settleOutbound.objData.lmsBankAccount.accountName}}" readonly="readonly">
                </div>
                <label class="col-md-2 control-label">客户 </label>
                <div class="col-md-2 col-left2">
                    <input type="text"  class="form-control" name="customerName"
                           value="{{settleOutbound.objData.customerName}}" readonly="readonly">
                </div>

            </div>
            <div class="form-group">

                <label class="col-md-2 control-label">转入银行账号
                </label>
                <div class="col-md-2 col-left2">
                    <input type="text"  class="form-control" name="bankAccount"
                           value="{{settleOutbound.objData.lmsBankAccount.bankAccount}}" readonly="readonly">
                </div>
                <label class="col-md-2 control-label">实际付款金额
                </label>
                <div class="col-md-2 col-left2">
                    <input type="text" name="payAmount" class="form-control" ng-blur="settleOutbound.getInterest()" ng-model="settleOutbound.payAmount">
                </div>
                <label class="col-md-2 control-label">实际还款本金
                </label>
                <div class="col-md-2 col-left2">
                    <input type="text"  class="form-control" value="{{settleOutbound.payAmount-settleOutbound.toRepayInterest}}" readonly>
                </div>

            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">转入账号开户行
                </label>
                <div class="col-md-2 col-left2">
                    <input type="text"  class="form-control" name="bankName"
                           value="{{settleOutbound.objData.lmsBankAccount.bankName}}" readonly="readonly">
                </div>
                <label class="col-md-2 control-label">实际支付日期
                </label>
                <div class="col-md-2 col-left2 payTime ">
                    <single-time-picker callback="settleOutbound.getInterest()"></single-time-picker>
                </div>
                <label class="col-md-2 control-label">应付利息
                </label>
                <div class="col-md-2 col-left2">
                    <input type="text"  class="form-control"  name="toRepayInterest" readonly value="{{settleOutbound.toRepayInterest}}" >
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button id="inboundConfirmButton" type="button" class="btn blue"
                                ng-click="settleOutbound.confirmSettlement()">确认结算
                        </button>
                        <button id="returnButton" type="button" class="btn blue"
                                ng-click="settleOutbound.return()">返回
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>