<div>
    <span class="pageTitle"><i class="fa fa-leaf">客户信息</i></span>
    <div class="row firstRow">
        <div class="col-md-10">
            <div class="col-sm-2" style="padding-left: 0px;">
                <div class="form-group">
                    <input type="text" name="code" class="form-control" placeholder="编号"></div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <select class="form-control select2me status" id="id_status">
                        <option selected value=" ">状态</option>
                        <option value="ACTIVE">生效</option>
                        <option value="INVALID">失效</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="btn-group">
                <button type="button" class="btn blue" ng-click="customer.getPageByFilter()">
                    搜索
                </button>
            </div>
        </div>

    </div>

    <div class="search-form divline  divdistance">
        <button type="button" class="btn btn-default pusht" ng-click="customer.newCustomer()" style="font-weight: inherit">新建</button>
        <button type="button" class="btn btn-default pusht" ng-click="customer.updateCustomer()" style="font-weight: inherit">修改</button>
        <button type="button" class="btn btn-default pusht"  ng-click="customer.operateEffect()" style="font-weight: inherit">生效</button>
        <button type="button" class="btn btn-default pusht"  ng-click="customer.invalid()" style="font-weight: inherit">失效</button>
    </div>

    <table-expandable table-column="customer.column" table-page="customer.getPage()"
                      table-data="customer.data" table-conf="customer.pageParams" self-page="false"
                      entity="customer.entity">
    </table-expandable>

</div>
</div>
</div>



