<div>
    <span class="pageTitle"><i class="fa fa-leaf"></i>贷款规则</span>
    <div class="row firstRow">
        <div class="col-md-10">
            <div class="col-sm-2" style="padding-left: 0px;">
                <div class="form-group">
                    <input type="text" name="code" class="form-control" placeholder="编号"></div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <select class="form-control select2me status" id="id_status">
                        <option selected value=" ">状态</option>
                        <option value="ACTIVE">生效</option>
                        <option value="INVALID">失效</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2" style="padding-left: 0px;">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="名称">
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="btn-group">
                <button type="button" class="btn blue" ng-click="loanRule.getPageByFilter()">
                    搜索
                </button>
            </div>
        </div>

    </div>

    <div class="search-form divline  divdistance">
        <button type="button" class="btn btn-default pusht" ng-click="loanRule.newLoanRule()" style="font-weight: inherit">新建</button>
        <button type="button" class="btn btn-default pusht" ng-click="loanRule.updateLoanRule()" style="font-weight: inherit">修改</button>
        <button type="button" class="btn btn-default pusht"  ng-click="loanRule.operateEffect()" style="font-weight: inherit">生效</button>
        <button type="button" class="btn btn-default pusht"  ng-click="loanRule.invalid()" style="font-weight: inherit">失效</button>
    </div>

    <table-expandable table-column="loanRule.column" table-page="loanRule.getPage()"
                      table-data="loanRule.data" table-conf="loanRule.pageParams" self-page="false"
                      entity="loanRule.entity">
    </table-expandable>

</div>
</div>
</div>



