<!DOCTYPE html>
<html data-ng-app="MetronicApp">
<head>
    <title data-ng-bind="$state.current.data.pageTitle + ' | 柴米云仓-采购联盟'"></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="../assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../sass/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN DYMANICLY LOADED CSS FILES(all plugin and page related styles must be loaded between GLOBAL and THEME css files ) -->
    <link id="ng_load_plugins_before" />
    <!-- END DYMANICLY LOADED CSS FILES -->
    <link href="../assets/plugins/select2/css/select2.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/select2/sass/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet">
    <!-- BEGIN THEME STYLES -->
    <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
    <link href="../sass/global/components-md.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="../sass/global/plugins-md.css" rel="stylesheet" type="text/css" />
    <link href="../sass/layouts/layout/layout.css" rel="stylesheet" type="text/css" />
    <link href="../sass/layouts/layout/themes/light2.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="../assets/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/ui-grid/ui-grid.css" rel="stylesheet">
    <link href="../assets/pages/css/common.css" rel="stylesheet">
    <link href="../assets/pages/css/home/home.css" rel="stylesheet">
    <link href="../assets/pages/css/d2d/d2d.css" rel="stylesheet">



    <!--<link href="../sass/layouts/layout/custom.css" rel="stylesheet" type="text/css" />-->
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->

<body ng-controller="AppController" class="page-header-fixed page-sidebar-closed-hide-logo page-on-load" ng-class="{'page-content-white': settings.layout.pageContentWhite,'page-container-bg-solid': settings.layout.pageBodySolid, 'page-sidebar-closed': settings.layout.pageSidebarClosed}">
<!-- BEGIN PAGE SPINNER -->
<div ng-spinner-bar class="page-spinner-bar">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<!-- END PAGE SPINNER -->
<!-- BEGIN HEADER -->
<div data-ng-include="'/dist/tpl/common/d2dheader.html'" data-ng-controller="d2dHeaderController" class="page-header d2dpage-header navbar navbar-fixed-top"> </div>
<!-- END HEADER -->
<div class="clearfix"> </div>
<!-- BEGIN CONTAINER -->
<div class="page-container" style="margin-top: 64px;">

    <div class="page-content-wrapper">
        <div class="page-content" style="padding:0;border-radius: 9px;margin: 26px 24px;min-height: 842px!important;margin-bottom: 6px;">
            <div ui-view class="fade-in-up"> </div>
            <!-- END ACTUAL CONTENT -->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div data-ng-include="'/dist/tpl/common/footer.html'" data-ng-controller="FooterController" class="page-footer"> </div>
<!--[if lt IE 9]>
<script src="../assets/plugins/respond.min.js"></script>
<script src="../assets/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="../assets/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="../assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../assets/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="../assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>


<!-- END CORE JQUERY PLUGINS -->
<!-- BEGIN CORE ANGULARJS PLUGINS -->
<script src="../assets/plugins/angularjs/angular.min.js" type="text/javascript"></script>
<script src="../assets/plugins/angularjs/angular-sanitize.min.js" type="text/javascript"></script>
<script src="../assets/plugins/angularjs/angular-touch.min.js" type="text/javascript"></script>
<script src="../assets/plugins/angularjs/angular-animate.min.js" type="text/javascript"></script>
<script src="../assets/plugins/angularjs/angular-aria.min.js" type="text/javascript"></script>
<script src="../assets/plugins/angularjs/angular-messages.min.js" type="text/javascript"></script>
<script src="../assets/plugins/angularjs/angular-material.min.js" type="text/javascript"></script>
<script src="../assets/plugins/angularjs/plugins/angular-ui-router.min.js" type="text/javascript"></script>
<script src="../assets/plugins/angularjs/plugins/ocLazyLoad.min.js" type="text/javascript"></script>
<script src="../assets/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
<script src="../assets/plugins/datatables/datatables.all.min.js" type="text/javascript"></script>

<script src="../assets/scripts/datatable.js" type="text/javascript"></script>

<script src="../assets/plugins/ui-grid/ui-grid.js"></script>
<script src="../assets/plugins/jstree/dist/jstree.js"></script>

<!-- END CORE ANGULARJS PLUGINS -->
<!-- BEGIN APP LEVEL ANGULARJS SCRIPTS -->
<script src="../assets/pages/js/common.js" type="text/javascript"></script>
<script src="../assets/scripts/d2dlogin.js" type="text/javascript"></script>
<!-- END APP LEVEL ANGULARJS SCRIPTS -->
<script src="../assets/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="../assets/plugins/select2/js/i18n/zh-CN.js" type="text/javascript"></script>
<script src="../assets/scripts/app.js" type="text/javascript"></script>
<script type="text/javascript" src="../assets/plugins/RSA.js"></script>
<script type="text/javascript" src="../assets/plugins/BigInt.js"></script>
<script type="text/javascript" src="../assets/plugins/Barrett.js"></script>
<script  type="text/javascript" src="../assets/plugins/ueditor/ueditor.config.js"></script>
<script  type="text/javascript" src="../assets/plugins/ueditor/ueditor.all.min.js"></script>


<script src="../assets/plugins/moment.min.js"></script>
<script src="../assets/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script src="http://gosspublic.alicdn.com/aliyun-oss-sdk.min.js"></script>
<script src="https://www.promisejs.org/polyfills/promise-6.1.0.js"></script>
<!-- BEGIN APP LEVEL JQUERY SCRIPTS -->

<script src="../assets/scripts/layout.js" type="text/javascript"></script>
<script src="../assets/scripts/demo.js" type="text/javascript"></script>

<script src="../dist/js/ajaxfileupload.js" type="text/javascript"></script>
<script src="../dist/js/table-ajax.js" type="text/javascript"></script>
<script src="../dist/js/main.js" type="text/javascript"></script>
<script src="../dist/js/constant.js" type="text/javascript"></script>
<script src="../dist/js/router.js" type="text/javascript"></script>
<script src="../dist/js/directives.js" type="text/javascript"></script>
<script src="../dist/js/controllers.js" type="text/javascript"></script>
<script src="../dist/js/components.js"></script>
<script src="../dist/js/services.js"></script>


<!-- END APP LEVEL JQUERY SCRIPTS -->
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->

</html>