<div>
    <span class="pageTitle"><i class="fa fa-clone"></i>出库单</span>
    <div class="row firstRow">
        <div class="col-md-10">
            <div class="col-sm-3"style="padding-left: 0px;">
                <div class="form-group">
                    <input type="text" name="code" class="form-control" placeholder="出库单号"></div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" id="id_status">
                        <option selected value="">出库单状态</option>
                        <option value="OPEN">打开</option>
                        <option value="ACTIVE">生效</option>
                        <option value="UNFINISHED">未完成</option>
                        <option value="FINISHED">完成</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="btn-group">
                <button type="button" class="btn blue" ng-click="outbound.getPageByFilter()">
                    搜索
                </button>
            </div>
        </div>
    </div>

    <div class="search-form btnGroup">
        <button type="button" class="btn btn-default" ng-click="outbound.settlement()" style="font-weight: inherit">结算</button>
        <button type="button" class="btn btn-default" ng-click="outbound.approve()" style="font-weight: inherit">审批</button>
    </div>
    <table-expandable table-column="outbound.column" table-page="outbound.getOutboundPage()"
                      table-data="outbound.data" table-conf="outbound.outbound_params"
                      self-page="false" entity="outbound.entity">
    </table-expandable>
</div>
</div>
<div class="modal fade" id="settlement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="margin-top:100px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="fa fa-plus" style="margin-right: 10px;">确认结算</i>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            <input type="hidden" id="id_goods"
                                   value="{{outbound.entity.getSelectedRows()[0].title}}"/>
                            <input type="hidden" id="id_goodsPrice"
                                   value="{{outbound.entity.getSelectedRows()[0].price}}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                          转入账号名
                            <input type="text"  class="form-control"  value="{{outbound.entity.getSelectedRows()[0].price}}">
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            客户
                            <input type="text"  class="form-control"  value="{{outbound.entity.getSelectedRows()[0].price}}" >
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            转入账号
                            <input type="text"  class="form-control"  value="{{outbound.entity.getSelectedRows()[0].price}}" >
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            实际支付金额
                            <input type="text"  class="form-control"  value="{{outbound.entity.getSelectedRows()[0].price}}" >
                        </div>
                    </div><div class="col-sm-6 col-sm-offset-3">
                    <div class="form-group">
                        转入账号开户行
                        <input type="text"  class="form-control"  value="{{outbound.entity.getSelectedRows()[0].price}}" >
                    </div>
                </div>
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            实际支付日期
                            <single-time-picker></single-time-picker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" ng-click="addOutbound.OutboundDetailSure()">
                    添加
                </button>
            </div>
        </div>
    </div>
</div>




