<div>
    <div class="icon">
        <i class="fa fa-send"></i>
    </div>
    <span class="pageTitle" style="display: block;margin-bottom: 28px;"><i class="fa fa-truck"></i>新建仓库</span>


    <div class="portlet-body row">
        <!-- BEGIN FORM-->
        <form id="pointSetInfo" class="form-horizontal">
            <div class="form-body">

                <div class="divSpace" style="padding-bottom: 12px;">

                    <div class="form-group">
                        <label class="col-md-2 control-label">仓库编码</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="id_wareId" value=""
                                   placeholder="如江苏南京仓,编码可输:JSNJ">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">仓库名称<span class="required"
                                                                        aria-required="true"> * </span></label>
                        <div class="col-md-4 ">
                            <input type="text" class="form-control" id="id_wareName" value="" placeholder="请输入仓库名称">
                        </div>
                    </div>
                    <div class="form-group warehouseAddress">
                        <label class="col-md-2 control-label">仓库地址<span class="required" aria-required="true"> * </span></label>
                        <city-select ng-if="addwarehouse.sendSwitch == 0"></city-select>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">地址<span class="required"
                                                                      aria-required="true"> * </span></label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="id_wareAddr" value="" placeholder="请输入仓库详细地址">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 ">使用范围<span class="required"
                                                                         aria-required="true"> * </span>
                        </label>
                        <div class="col-md-5">
                            <div class="md-checkbox-inline">
                                <div class="md-checkbox has-success">
                                    <input type="checkbox" id="checkbox11" name="range" value="01" checked
                                           class="md-check">
                                    <label for="checkbox11">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> 营业</label>
                                </div>
                                <div class="md-checkbox has-success">
                                    <input type="checkbox" id="checkbox12" name="range" value="02" class="md-check">
                                    <label for="checkbox12">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>自用</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 ">保管条件<span class="required"
                                                                         aria-required="true"> * </span>
                        </label>
                        <div class="col-md-5">
                            <div class="md-checkbox-inline">

                                <div class="md-checkbox has-success">
                                    <input type="checkbox" id="checkbox21" name="surely" value="01" checked
                                           class="md-check">
                                    <label for="checkbox21">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> 普通</label>
                                </div>
                                <div class="md-checkbox has-success">
                                    <input type="checkbox" id="checkbox22" name="surely" value="02" class="md-check">
                                    <label for="checkbox22">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>冷藏</label>
                                </div>
                                <div class="md-checkbox has-success">
                                    <input type="checkbox" id="checkbox23" name="surely" value="03" class="md-check">
                                    <label for="checkbox23">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>恒温</label>
                                </div>
                                <div class="md-checkbox has-success">
                                    <input type="checkbox" id="checkbox24" name="surely" value="04" class="md-check">
                                    <label for="checkbox24">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>特种</label>
                                </div>
                                <div class="md-checkbox has-success">
                                    <input type="checkbox" id="checkbox25" name="surely" value="05" class="md-check">
                                    <label for="checkbox25">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>气调</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 ">仓库用途<span class="required"
                                                                         aria-required="true"> * </span>
                        </label>
                        <div class="col-md-5">
                            <div class="md-checkbox-inline">
                                <div class="md-checkbox has-success">
                                    <input type="checkbox" id="checkbox31" name="use" value=" 01" checked
                                           class="md-check">
                                    <label for="checkbox31">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> 发货</label>
                                </div>
                                <div class="md-checkbox has-success">
                                    <input type="checkbox" id="checkbox32" name="use" value="02" class="md-check">
                                    <label for="checkbox32">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>备货</label>
                                </div>
                                <div class="md-checkbox has-success">
                                    <input type="checkbox" id="checkbox33" name="use" value="03" class="md-check">
                                    <label for="checkbox33">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>融资监管</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group sendAddress_{{$index}}"
                         ng-repeat="list in addwarehouse.sendAddressList">
                        <label class="col-md-2 control-label">发货范围<span
                                style="font-weight: bold">({{$index+1}})</span>
                        </label>
                        <multicity-select></multicity-select>
                        <div class="col-sm-2 pull-left addDiv">
                            <i class="fa fa-remove remove" ng-click="addwarehouse.removeSend($index)"
                               ng-if="addwarehouse.sendAddressList.length>1"></i>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom:0px;">
                        <label class="control-label col-md-3">
                        </label>
                        <div class="col-md-3">
                            <a class="btn btn-xs blue" ng-click="addwarehouse.addNewSend()"> 添加
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 ">存放物品种类<span class="required"
                                                                           aria-required="true"> * </span>
                        </label>
                        <div class="col-sm-5">
                            <div class="md-radio-inline">
                                <div class="md-radio">
                                    <input type="radio" id="radio13" name="radio22" class="md-radiobtn"
                                           ng-model="addwarehouse.upradioFlag" value="1">
                                    <label for="radio13">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>全部商品分类</label>
                                </div>
                                <div class="md-radio has-error">
                                    <input type="radio" id="radio14" name="radio22" class="md-radiobtn"
                                           ng-model="addwarehouse.upradioFlag" value="0">
                                    <label for="radio14">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> 部分商品分类 </label>
                                    <a style="margin-left: 10px" ng-show="addwarehouse.upradioFlag ==0"
                                       ng-click="addwarehouse.setShowClassify()">选择商品分类</a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">管理员</label>
                        <div class="col-md-4 ">
                            <select class="form-control" id="id_department" ng-change="addwarehouse.Administrator()"
                                    ng-model="addwarehouse.grade">
                                <option value="  " selected>请选择部门</option>
                                <option ng-repeat="list in addwarehouse.idepartmentList" value="{{list.orgId}}">
                                    {{list.orgName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select-table st-combo="test()" st-text="addwarehouse.placeholder_adminName"
                                          st-icon="addwarehouse.icon_admin"
                                          st-value="addwarehouse.adminEntity.getSelectedRows()[0].realName">
                                <table-expandable table-column="addwarehouse.adminColumn"
                                                  table-page="addwarehouse.adminPage()"
                                                  table-data="addwarehouse.adminData"
                                                  table-conf="addwarehouse.adminParams"
                                                  self-page="true"
                                                  entity="addwarehouse.adminEntity">
                                </table-expandable>
                                </select-table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">员工</label>
                        <div class="col-md-4 ">
                            <a class="col-md-2 control-label" style="margin-left: -17px" ng-click="addwarehouse.aaaa()">选择员工</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5  col-md-offset-2">
                            <table class="table table-striped table-bordered table-hover order-column addPurchaseTable"
                                   style="table-layout: fixed;width: 750px;">
                                <thead>
                                <tr style="background: #509EFF;">
                                    <th style="width:10%">账号</th>
                                    <th style="width:10%">真实姓名</th>
                                    <th style="width:10%">所属部门</th>
                                    <th style="width:10%">角色</th>
                                    <th style="width:20%">手机</th>
                                    <th style="width:20%">邮箱</th>
                                    <th style="width:10%">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="list in addwarehouse.userList" class="goods_{{$index}}">
                                    <td style="width:10%">{{list.accounts}}</td>
                                    <td style="width:10%">{{list.realName}}</td>
                                    <td style="width:10%">{{list.department}}</td>
                                    <td style="width:10%">{{list.role}}</td>
                                    <td style="width:20%">{{list.phone}}</td>
                                    <td style="width:20%">{{list.email}}</td>
                                    <td style="width:10%"><i class="fa fa-remove remove"
                                                             ng-click="addwarehouse.removeGoods(list.empId)"></i></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>


                <div class="form-actions">
                    <div class="row" style="margin-left: 15px">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn blue" ng-click="addwarehouse.submitUser()">确定</button>
                            <button type="cancel" class="btn white" ng-click="addwarehouse.cancel()">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>


</div>
<div class="modal fade" id="confirmEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 120px;width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-file-o" style="margin-right: 10px;"></i>分类列表
                </h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-content" style="margin-top: 20px;">
                    <div class="portlet-body">
                        <div id="categoryTree" class="tree-demo"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" id="" class="btn btn-primary" data-dismiss="modal">
                    确认修改
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="lar11ge" tabindex="-1" role="dialog" aria-labelledby="myModal2Label" aria-hidden="true">
    <div class="modal-dialog" style="margin-top:100px;width: 60%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">选择员工</h4>
            </div>
            <div class="modal-body">
                <div class="m-grid m-grid-demo">
                    <div class="m-grid-row">
                        <div class="m-grid-col m-grid-col-md-3">
                            <div id="categoryTree2" class="tree-demo"
                                 style="height: 100%;overflow: hidden;overflow-y: scroll;"></div>
                        </div>
                        <div class="m-grid-col m-grid-col-middle m-grid-col-center m-grid-col-md-9"
                             style="padding: 10px">
                            <div>
                                <div class="input-group">
                                    <div class="input-icon input-icon-sm">
                                        <i class="fa fa-search"></i>
                                        <input class="form-control input-sm" type="text" ng-model="skuName"
                                               placeholder="输入员工姓名搜索">
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-sm btn-default" ng-click="addwarehouse.serachGoods()"
                                                type="button">
                                            <i class="fa fa-arrow-left fa-fw"></i> 搜索</button>
                                    </span>
                                </div>
                            </div>

                            <table-expandable table-column="addwarehouse.skuColumn"
                                              table-page="addwarehouse.skuPage()"
                                              table-data="addwarehouse.skuData"
                                              table-conf="addwarehouse.skuParams"
                                              self-page="false"
                                              entity="addwarehouse.skuEntity">
                            </table-expandable>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">关闭</button>
                <button type="button" class="btn green" ng-click="addwarehouse.overClick()" data-dismiss="modal">确定
                </button>
            </div>
        </div>
    </div>
</div>
