<div>
    <span class="pageTitle"><i class="fa fa-plus"></i>新建银行账号</span>
    <div class="row divline">
        <div class="col-md-12">
            <p class="pTitle">基础信息</p>
        </div>
        <!-- BEGIN FORM-->
        <form id="lmsBankAccount">
            <div class="col-md-12">
                <div class="col-md-3 col-left">
                    <div class="form-group">
                        <input type="text" name="accountName" class="form-control" placeholder="账号名">
                    </div>
                </div>

                <div class="col-md-3 col-left">
                    <div class="form-group">
                        <input type="text" name="bankName" class="form-control" placeholder="开户行">
                    </div>
                </div>
                <div class="col-md-3 col-left">
                    <div class="form-group">
                        <input type="text" name="bankAccount" class="form-control" placeholder="银行账号">
                    </div>
                </div>


                <div class="col-md-3 col-left">
                    <div class="form-group">
                        <select id="type" name="type" class="form-control">
                            <option value="" selected>--类型--</option>
                            <option value="BASE">基本存款账户</option>
                            <option value="GENERAL">一般存款账户</option>
                            <option value="TEMP">临时存款账户</option>
                            <option value="PRIVATE">专用存款账户</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3 col-left">
                    <div class="form-group">
                        <select id="ownerType" name="ownerType" class="form-control" >
                            <option value="" selected>--持卡人类型--</option>
                            <option value="PERSON">个人</option>
                            <option value="LEGAL">法人</option>
                            <option value="COMPANY">公司</option>
                            <option value="GROUP">集团</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3 col-left">
                    <div class="form-group">
                        <input type="text" name="description" class="form-control" placeholder="备注">
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row" style="margin-left: 15px">
                        <div class="col-md-offset-3 col-md-9">
                            <button id="inboundConfirmButton" type="submit" class="btn blue" ng-click="addBankAccount.saveNewBankAccount()">保存</button>
                            <button id="inboundCancelButton" type="cancel" class="btn white" ng-click="addBankAccount.returnButton()">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
