<div>
    <span class="pageTitle">
        <i class="fa fa-truck"></i>托运人管理
      </span>

    <div class="portlet-body" style="margin-top: 10px;">
        <div class="tabbable-bordered">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a href="#tab_simple" ng-click="owner.showTabs(0)" data-toggle="tab">普通托运人</a>
                </li>
                <li>
                    <a href="#tab_chaimi" ng-click="owner.showTabs(1)" data-toggle="tab">柴米托运人</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_simple">
                    <div class="form-body">
                    <div class="row firstRow" style="margin-bottom: 12px;">
                            <div class="col-md-10" style="padding-left: 0px;">

                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <input type="text" name="userName" class="form-control" placeholder="账号"> </div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <input type="text" name="nickName" class="form-control" placeholder="货主姓名"> </div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <input type="text" name="mobile" class="form-control" placeholder="联系电话"> </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="btn-group">
                                        <button type="button" class="btn blue" ng-click="getPageByFilter()">
                                            搜索
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="search-form btnGroup" style="margin-top: 15px;">
                        <button type="button" class="btn btn-default" ui-sref="transport.addowner" style="font-weight: inherit">新增
                        </button>
                        <button type="button" class="btn btn-default"ng-click="editUser()" style="font-weight: inherit">修改</button>
                        <button type="button" class="btn btn-default" ng-click="owner.editAddress()" style="font-weight: inherit">地址管理</button>
                    </div>

                    <input name="ownerType" type="hidden" value="0">
                    <table-expandable table-column="column"  table-page="getPage()" table-data="data" table-conf="pageParams" self-page="false" entity="entity">
                    </table-expandable>
                    </div>
                </div>
                <div class="tab-pane" id="tab_chaimi">
                    <div class="form-body">
                        <input id="qry_cooperRole" name="qryRole" type="hidden" value="0">
                        <div class="row firstRow">
                            <div class="col-md-10">
                                <div class="col-sm-2" style="padding-left: 0px;">
                                    <div class="form-group">
                                        <input type="text" id="qryName" name="qryName" class="form-control" placeholder="账号"></div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <input type="text" id="qryNick" name="qryNick" class="form-control" placeholder="昵称">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <input type="text" id="qryTel" name="qryTel" class="form-control" placeholder="手机">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <input type="text" id="qryMail" name="qryMail" class="form-control" placeholder="邮箱">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <select class="form-control select2me receiveStatus" id="id_status">
                                            <option selected value=" ">当前状态</option>
                                            <option value="01">有效</option>
                                            <option value="02">无效</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="btn-group">
                                        <button type="button" class="btn blue" ng-click="owner.getChaimiByFilter()">
                                            搜索
                                        </button>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="search-form btnGroup" style="margin-top: 15px;">
                            <button type="button" class="btn btn-default pusht" ng-click="owner.addCooper()" style="font-weight: inherit">新增</button>
                            <button type="button" class="btn btn-default pusht" ng-click="owner.updCooper()" style="font-weight: inherit">修改</button>
                            <button type="button" class="btn btn-default pusht" ng-click="owner.delCooper()" title="可多选" style="font-weight: inherit">删除</button>
                        </div>

                        <table-expandable table-column="owner.chaimicolumn"  table-page="owner.getChaimi()" table-data="owner.chaimidata"
                                          table-conf="owner.chaimiParams" self-page="false" entity="owner.chaimi_entity">
                        </table-expandable>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top:180px;width: 938px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-pencil" style="margin-right: 10px;"></i>修改
                </h4>
            </div>
            <div class="modal-body">

                <form  id="editDriversInfo" class="form-horizontal">
                    <div class="form-body">

                        <div class="form-group">
                            <label class="control-label col-sm-2" style="padding-top: 7px">托运人信息
                            </label>
                            <div class="col-sm-4">
                                <input type="text"  data-required="1" readonly ng-model="dataInfo.userName" class="form-control"/>
                            </div>

                            <div class="col-sm-4">
                                <input type="text"  data-required="1" readonly ng-model="dataInfo.nickName" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" style="padding-top: 7px">拓展信息
                            </label>
                            <div class="col-sm-4">
                                <div class="md-radio-inline">
                                    <div class="md-radio">
                                        <input type="radio" id="checkbox1_5" name="sex" value="1" checked class="md-radiobtn"  ng-model="extData.userSex">
                                        <label for="checkbox1_5">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            男
                                        </label>
                                    </div>
                                    <div class="md-radio">
                                        <input type="radio" id="checkbox1_6" name="sex" value="0" class="md-radiobtn" ng-model="extData.userSex">
                                        <label for="checkbox1_6">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            女
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" style="padding-top: 7px">公司职位
                            </label>
                            <div class="col-sm-4">
                                <input type="text" name="company" data-required="1" ng-model="extData.company"  class="form-control" placeholder="公司(选填)"/>
                            </div>

                            <div class="col-sm-4">
                                <input type="text" name="jobTitle" data-required="1"  ng-model="extData.jobTitle"  class="form-control" placeholder="职位(选填)"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" style="padding-top: 7px">所在地址
                            </label>
                            <div class="col-sm-4">
                                <input type="text" name="province" data-required="1"  ng-model="extData.province"  class="form-control" placeholder="所在省(选填)"/>
                            </div>

                            <div class="col-sm-4">
                                <input type="text" name="city" data-required="1"  ng-model="extData.city"  class="form-control" placeholder="所在市(选填)"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" style="padding-top: 7px">
                            </label>
                            <div class="col-sm-4">
                                <input type="text" name="area" data-required="1"  ng-model="extData.area"  class="form-control" placeholder="所在区(选填)"/>
                            </div>

                            <div class="col-sm-4">
                                <input type="text" name="addressDetail" data-required="1"  ng-model="extData.addressDetail"  class="form-control" placeholder="详细地址(选填)"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" style="padding-top: 7px">联系电话
                            </label>
                            <div class="col-sm-4">
                                <input type="text" name="mobile" data-required="1" ng-model="dataInfo.mobile"   class="form-control" placeholder="联系电话"/>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" style="padding-top: 7px">qq
                            </label>
                            <div class="col-sm-4">
                                <input type="text" name="qq" data-required="1"  ng-model="dataInfo.qq"  class="form-control" placeholder="qq"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" style="padding-top: 7px">邮箱
                            </label>
                            <div class="col-sm-4">
                                <input type="text" name="email" data-required="1" ng-model="dataInfo.email"   class="form-control" placeholder="邮箱"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" style="padding-top: 7px">备注
                            </label>
                            <div class="col-sm-4">
                                <input type="text" name="remark" data-required="1"  ng-model="extData.remark"  class="form-control" placeholder="备注(选填)"/>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="userSex" id="userSex"/>
                    <input type="hidden" name="userId" value="{{userId}}"/>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" ng-click="confirmModify()">
                    修改
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="smodifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top:180px;width: 938px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-pencil" style="margin-right: 10px;"></i>托运人新增地址
                </h4>
            </div>
            <div class="modal-body" style="height: 484px;overflow-y:scroll;">

                <form  class="form-horizontal">
                    <div class="divSpace-unwhite fade-in-up" style="border-top: 8px solid #88909a;">
                        <span class="badge badge-default leftIcon"></span>
                        <div class="form-group">
                            <label class="control-label col-sm-2">托运人
                            </label>
                            <div class="col-sm-3">
                                <input type="text"  data-required="1" value="{{owner.ownerName}}" readonly class="form-control"/>
                            </div>
                            <label class="control-label col-sm-2">联系方式
                            </label>
                            <div class="col-sm-3">
                                <input type="text"  data-required="1"  value="{{owner.ownerMobile}}" readonly class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="divSpace-unwhite fade-in-up">
                        <span class="badge badge-primary leftIcon" style="position:absolute;top:15px;left:15px;">新增地址</span>
                        <div class="form-group">
                            <label class="control-label col-sm-2">联系人
                            </label>
                            <div class="col-sm-3">
                                <input type="text"  data-required="1" name="newContact" class="form-control"/>
                            </div>
                            <label class="control-label col-sm-2">联系方式
                            </label>
                            <div class="col-sm-3">
                                <input type="text"  data-required="1" name="newMobile" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group newAddAddress" style="margin-top: 24px;">
                            <label class="control-label col-sm-2">地址
                            </label>
                            <city-select></city-select>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">详细地址
                            </label>
                            <div class="col-sm-3">
                                <input type="text"  data-required="1" name="newAddress" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="divSpace-unwhite fade-in-up" ng-repeat="list in owner.addressData">
                        <span class="badge badge-default leftIcon" style="position:absolute;top:15px;left:15px;">已有地址{{$index+1}}</span>
                        <div class="form-group" style="margin-top: 24px;">
                            <label class="control-label col-sm-2">联系人
                            </label>
                            <div class="col-sm-3">
                                <input type="text"  data-required="1" readonly value="{{list.cneeName}}"  class="form-control"/>
                            </div>
                            <label class="control-label col-sm-2">联系方式
                            </label>
                            <div class="col-sm-3">
                                <input type="text"  data-required="1" readonly value="{{list.cneeMobile}}"  class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">地址
                            </label>
                            <div class="col-sm-8">
                                <input type="text"  data-required="1" readonly value="{{list.province}}{{list.city}}{{list.county}}{{list.address}}" class="form-control"/>
                            </div>
                        </div>
                        <i class="fa fa-remove" ng-click="owner.removeAddress(list.cId)" style="font-size: 18px;margin-left: 12px;color: #C50000;cursor: pointer;position: absolute;right: 15px;
  top: 15px;"></i>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" ng-click="owner.confirmAddAddress()">
                    添加
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top:300px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-hand-pointer-o" style="margin-right: 10px;"></i>确认
                </h4>
            </div>
            <div class="modal-body">
                确定要删除么?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" ng-click="owner.confirmDelete()">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!--添加柴米托运人model-->
<div class="modal fade" id="add_cooper_model" tabindex="-1" role="dialog" aria-labelledby="myModalCooper"
     aria-hidden="true">
    <div class="modal-dialog" style="margin-top:100px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-plus" style="margin-right: 10px;">添加柴米托运人</i>
                </h4>
            </div>
            <div class="modal-body">
                <form id="UmsCooperInfo">
                    <div class=" form-horizontal">
                        <div class="form-group">
                            <input type="hidden" id="add_cooperMode" name="cooperMode" value="02"/>
                            <label class="col-md-2 control-label">托运人类型<span class="required"
                                                                                 aria-required="true"> * </span></label>
                            <div class="col-md-6">
                                <select class="form-control" id="add_cooperRole" name="cooperRole">
                                    <option value="0" selected>托运人</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <input name="cooperUserId" type="hidden">
                            <label class="col-md-2 control-label">对方账号<span class="required"
                                                                            aria-required="true"> * </span></label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="add_acc_name" name="cooperUserNm" placeholder="根据输入的关键字匹配A用户">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">昵称<span class="required"
                                                                          aria-required="true"> * </span></label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="cooperNicknm">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">手机</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="cooperPhone" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">邮箱</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="cooperEmail" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" id="submitAddCooper" class="btn btn-primary" ng-click="owner.submitAddCooper()">
                    添加
                </button>
            </div>
        </div>
    </div>
</div>

<!--柴米托运人详情model-->
<div class="modal fade" id="upd_cooper_model" tabindex="-1" role="dialog" aria-labelledby="updModalCooper"
     aria-hidden="true">
    <div class="modal-dialog" style="margin-top:100px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-plus" style="margin-right: 10px;">柴米托运人详情</i>
                </h4>
            </div>
            <div class="modal-body">
                <form id="updUmsCooperInfo">
                    <div class=" form-horizontal">
                        <div class="form-group">
                            <input id="updCooperRole" name="cooperRole" type="hidden">
                            <label class="col-md-2 control-label">托运人类型<span class="required"
                                                                            aria-required="true"> * </span></label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="upd_cooperRole" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">对方账号<span class="required"
                                                                            aria-required="true"> * </span></label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="upd_acc_name" name="cooperUserNm" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">昵称<span class="required"
                                                                          aria-required="true"> * </span></label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="upd_nick_name" name="cooperNicknm">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">手机</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="upd_phone" name="cooperPhone" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">邮箱</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="upd_email" name="cooperEmail" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" id="submitUpdCooper" class="btn btn-primary" ng-click="owner.submitUpdCooper()">
                    修改
                </button>
            </div>
        </div>
    </div>
</div>



