<div>
    <span class="pageTitle">
        <i class="fa fa-info"></i>属性参数设置
      </span>

    <div class="row firstRow">
        <div class="col-md-10" style="padding-left: 0px;">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" name="spuId" class="form-control" ng-model="list.propId" placeholder="属性编号"> </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" name="goodsName" class="form-control" ng-model="list.propName" placeholder="属性 名称">
                </div>
            </div>

            <div class="col-md-6">
                <label class="control-label col-sm-4" style="padding-top: 5px;text-align: center;font-weight: bold;">创建时间
                </label>
                <div class="col-sm-8 arrivalTime">
                    <time-picker></time-picker>
                </div>
            </div>


            <div class="col-md-12"  style="height: 49px;">
                <label class="control-label col-md-2" style="padding-top: 5px;text-align: center;font-weight: bold;">商品分类
                </label>
                <div class="col-md-3">
                    <!--<select class="form-control select2me"  ng-change="d2pgoodsmanage.selectGOneChange()" ng-model="d2pgoodsmanage.goodsOneSelect" ng-options="x.cId as x.name for x in d2pgoodsmanage.goodsOneList"></select>-->

                    <select class="form-control select2me"  ng-change="list.selectGOneChange()" ng-model="list.goodsOneSelect">
                        <option selected value=" ">全部</option>
                        <option ng-repeat="list in list.goodsOneList" value="{{list.cId}}">{{list.name}}</option>
                    </select>

                </div>
                <div class="col-md-3">
                    <select class="form-control select2me"  ng-change="list.selectGTwoChange()" ng-model="list.goodsTwoSelect">
                        <option selected value=" ">全部</option>
                        <option ng-repeat="list in list.goodsTwoList" value="{{list.cId}}">{{list.name}}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control select2me"  ng-change="list.selectGThreeChange()" ng-model="list.goodsThreeSelect">
                        <option selected value=" ">全部</option>
                        <option ng-repeat="list in list.goodsThreeList" value="{{list.cId}}">{{list.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="btn-group">
                <button type="button" class="btn blue" ng-click="list.getPageByFilter()">
                    搜索
                </button>
            </div>
        </div>
    </div>


    <div class="search-form btnGroup" style="margin-top: 15px;">
        <button type="button" class="btn btn-default" ui-sref="goods.setting.prop" style="font-weight: inherit">新增
        </button>
        <button type="button" class="btn btn-default" ng-click="list.deleteProp()" style="font-weight: inherit">删除
        </button>
    </div>


    <table-expandable table-column="list.column"  table-page="list.getPage()" table-data="list.data" table-conf="list.pageParams" self-page="false" entity="list.entity">
    </table-expandable>

</div>